<div class="home-banner">
  <h1>CastlesBNB</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<!-- <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button> -->

<div class="container col-12">
  <div class="row justify-content-center">
      <% @castles.each do |castle| %>
          <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <img class="card-img-top" src="<%= cl_image_path castle.photo.key, width:400, height:300, crop: :fill  %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= castle.name %></h5>
              <h7 class="card-text">Book a stay at one of the best castles in the world!</h7>
              <h7 style="display: block; margin-top: 5px" id="sweet-alert-demo" class="book btn btn-primary">Book A Stay<%= link_to "", castle_path(castle) %></h7>
            </div>
          </div>
      <% end %>
  </div>
</div>

<form action="/all" method="get">
  <input type="text" name="castle" placeholder="Search for a place">
  <input type="submit">
</form>

<%= link_to "Add Castle", new_castle_path %>
