<h1>Book Your Stay at a Castle</h1>

<form action="/all" method="get">
  <input type="text" name="castle" placeholder="Search for a place">
  <input type="submit">
</form>

<ul>
  <% @castles.each do |castle| %>
    <li>
      <%= link_to castle.name, castle_path(castle) %>
      <%= link_to edit_castle_path(castle) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to castle_path(castle), method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Castle", new_castle_path %>
