.castlepage {
  background-color: white;
  margin-top: 30px;
}

.castle-heading {
  display: block;
  background-color: lightblue;
  padding: 2vh 2vw;
}

.castle-images {
  background-color: grey;
  height: 60%;
}

